.btn-blue {
	background-color: rgb(247, 110, 17)
;
	padding: 15px 20px;
	border-radius: 4px;
	color : rgb(154, 220, 255);
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.btn-blue:hover {
	color: rgb(182, 103, 241)
;
}